html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  padding: 3em 2em 2em 2em;
  line-height: 1.5;
  margin: 0;
}

img {
  width: 100%;
  max-width: 25em;
  display: inline;
  margin: 0 .5rem 0 0;
}

h1 {
  text-align: center;
  display: inline-block;
  text-align: left;
}

h2 {
  font-size: 1.1rem;
}

p {
  display: inline-block;
  max-width: 25em;
}

div {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #666;
  border: 3px solid #333;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: transparent;
  vertical-align: middle;
}

.btn {
  padding: 0.75rem;
}
